<div ng-controller="FavoritesCtrl">
  <div ng-controller="SongsCtrl">
    <div ng-controller="SearchCtrl" ng-if="content">
      <div class="container-fluid" ng-repeat="favorite in content">
        <h3>{{favorite}}</h3>
        <div class="row">
          <a href="{{favorite.result.url}}"></a>
          <div class="col-xs-4">
            <img src="{{favorite.result.header_image_thumbnail_url}}">
          </div>
          <div class=".col-lg-4" ng-repeat="player in players">
            <iframe src="{{trustSrc(player)}}" width="300" height="300"></iframe>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-primary fa fa-music" ng-click="findLyrics(favorite.result.primary_artist.name, favorite.result.title)">
              Lyrics
            </button>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-danger fa fa-remove" ng-click="removeSong(favorite._id)">
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
      <div ng-if="lyrics">
        <md-content class="lyrics" ng-animate="'highlight'">
          <div style="font-family: Lobster, Monospace;">{{lyrics.lyrics}}</div>
        </md-content>
      </div>
  </div>
</div>